.person-table {
  width: 100%;
}

.table-wrapper-hidden-overflow {
  max-height:515px;
  overflow: hidden;
}

.table-wrapper-scroll-overflow {
  max-height:70%;
  overflow-y: scroll;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}
