<form [formGroup]="personForm" (ngSubmit)="onSubmit()">
  <mat-card class="form-container form">
    <mat-card-title>

    <h1 *ngIf="this.editMode">Modifier une personne</h1>
    <h1 *ngIf="!this.editMode">Créer une personne</h1>

    </mat-card-title>
    <mat-grid-list cols="2" rowHeight="100px">
      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label for="lastname">Nom</mat-label>
          <input matInput id="lastname" formControlName="lastname" class="form-control" required>
          <mat-error *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)">
            <div *ngIf="lastname.errors?.required">
              Champs requis
            </div>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label for="firstname">Prénom</mat-label>
          <input matInput id="firstname" formControlName="firstname" required>
          <mat-error *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)">
            <div *ngIf="firstname.errors?.required">
              Champs requis
            </div>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-radio-group formControlName="minor">
          <mat-radio-button [value]=true id="minor">Mineur</mat-radio-button>
          <mat-radio-button *ngIf="this.version===2" [value]=false id="major" >Majeur</mat-radio-button>
        </mat-radio-group>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Adresse (ligne 1)</mat-label>
          <input matInput id="address1" formControlName="address1">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Adresse (ligne 2)</mat-label>
          <input matInput id="address2" formControlName="address2">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Taille</mat-label>
          <input matInput type="number" id="height" formControlName="height">
          <span matSuffix>cm</span>
          <mat-error *ngIf="height.invalid && (height.dirty || height.touched)">
            <div *ngIf="height.errors?.min">
              La taille doit être supérieure à zéro
            </div>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Poids</mat-label>
          <input matInput type="number" id="weight" formControlName="weight">
          <span matSuffix>kg</span>
          <mat-error *ngIf="weight.invalid && (weight.dirty || weight.touched)">
            <div *ngIf="weight.errors?.min">
              La poids doit être supérieur à zéro
            </div>
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label *ngIf="this.version===1">Choose a date</mat-label>
          <mat-label *ngIf="this.version===2">Date de naissance</mat-label>
          <input matInput [matDatepicker]="picker" id="birthdate" formControlName="birthdate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile></mat-grid-tile>
      <mat-grid-tile>
        <button *ngIf="this.version===2" mat-raised-button color="primary" type="submit" [disabled]="!personForm.valid">Enregistrer</button>
      </mat-grid-tile>
    </mat-grid-list>
    
    
    <button *ngIf="this.version===1" mat-raised-button color="primary" id="misplacedSubmitButton" type="submit">Enregistrer</button>
  </mat-card>
</form>
