<mat-toolbar color="primary">
  <button mat-button routerLink="/">Formation QA</button>
  <button mat-button routerLink="/person-list">Liste de personnes</button>
  <button mat-button routerLink="/person-edit">Créer une personne</button>
  <div class="spacer"></div>
  <button mat-button [matMenuTriggerFor]="versionMenu">{{selectedVersion}}
    <mat-menu #versionMenu="matMenu">
      <button mat-menu-item>V 1.0</button>
      <button mat-menu-item>V 2.0</button>
    </mat-menu>
  </button>
</mat-toolbar>
